@import url('./components/data-table.css');
@import url('./utilities.css');

:root {
  --main-background: #F9F9F9;
  --font-color: #4B4B4B;
  --border-color: #EDEDED;
  --border-color-dark: #E3E3E3;
  --hover-background: #F5F5F5;
  --selected-background: #EEEEEE;
  --positive-color: #80D134;
  --shadow-color: rgba(0,0,0,.3);

  --font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  all: unset;
  background: var(--main-background);
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}

.card {
  box-shadow: 0 1px 2px 0 var(--shadow-color);
  flex: 1 0 auto;
  max-width: 64.25rem;
}

.button {
  all: unset;
  cursor: pointer;
  padding: .25rem;
}

.button--with-icon {
  align-items: center;
  display: flex;
  position: relative;
  padding-left: 1.75rem;
}

.button__icon {
  position: absolute;
  left: .5rem;
}
