<div class="data-table">
  <div class="data-table__actions">
    <div>
      <label for="select-all-rows" class="visually-hidden">Select All Rows</label>
      <input id="select-all-rows" type="checkbox">
    </div>
    <div class="data-table__selected-count">
      <span>Selected 2</span>
    </div>
    <div>
      <button class="button button--with-icon" type="button">
        <i class="button__icon fas fa-arrow-alt-to-bottom"></i>
        Download Selected
      </button>
    </div>
  </div>
  <table class="table">
    <thead class="table__head">
      <tr>
        <th></th>
        {{#each this.tableHeaders as |header|}}
          <th>{{header}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each this.tableData as |row|}}
        <tr class="table__row">
          <td>
            <input type="checkbox">
          </td>
          {{#each this.tableHeaders as |column|}}
            <td>{{get row column}}</td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{yield}}