{{page-title "Experiments"}}

<div class="wrapper">
  <div class="card">
    <div class="actions">
      <div>
        <input type="checkbox">
      </div>
      <div class="selected-count">
        <span>Selected 2</span>
      </div>
      <div>
        <button type="button">
          <i class="fas fa-arrow-alt-to-bottom"></i>
          Download Selected
        </button>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Device</th>
          <th>Path</th>
          <th class="status">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>smss.exe</td>
          <td>Stark</td>
          <td>\\Device\\HarddiskVolume2\\Windows\\System32\\smss.exe</td>
          <td class="status">scheduled</td>
        </tr>
        <tr class="selected">
          <td>
            <input type="checkbox" checked>
          </td>
          <td>netsh.exe</td>
          <td>Targaryen</td>
          <td>\\Device\\HarddiskVolume2\\Windows\\System32\\netsh.exe</td>
          <td class="status available">available</td>
        </tr>
        <tr class="selected">
          <td>
            <input type="checkbox" checked>
          </td>
          <td>uxtheme.dll</td>
          <td>Lannister</td>
          <td>\\Device\\HarddiskVolume1\\Windows\\System32\\uxtheme.dll</td>
          <td class="status available">available</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>cryptbase.dll</td>
          <td>Martell</td>
          <td>\\Device\\HarddiskVolume1\\Windows\\System32\\cryptbase.dll</td>
          <td class="status">scheduled</td>
        </tr>
        <tr>
          <td>
            <input type="checkbox">
          </td>
          <td>7za.exe</td>
          <td>Baratheon</td>
          <td>\\Device\\HarddiskVolume1\\temp\\7za.exe</td>
          <td class="status">scheduled</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{outlet}}