<div class="card">
  <DataTable
    @tableData={{@model.files}}
    @selectable={{true}}
    @selectedAction={{this.downloadFiles}}
    @selectedActionText="Download Selected"
    @accentedColumn="status"
    @accentedValue="available"
  />
</div>